<div class="lista-container">
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Nombre Curso: </th>
            <td mat-cell *matCellDef="let curso"> {{curso.descripcion}} </td>
        </ng-container>                  
        
        <ng-container matColumnDef="duracionHs">
            <th mat-header-cell *matHeaderCellDef> Duracion en Hs: </th>
            <td mat-cell *matCellDef="let curso"> {{ curso.duracionHs }} Hs.</td>
        </ng-container>
    
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio: </th>
            <td mat-cell *matCellDef="let curso"> {{curso.fechaInicio | date:"dd/MM/yyyy"}} </td>
        </ng-container> 

        <ng-container matColumnDef="modalidad">
            <th mat-header-cell *matHeaderCellDef> Modalidad: </th>
            <td mat-cell *matCellDef="let curso"> {{curso.modalidad }} </td>
        </ng-container> 

        <ng-container matColumnDef="titular">
            <th mat-header-cell *matHeaderCellDef> Titular: </th>
            <td mat-cell *matCellDef="let curso"> {{curso.titular }} </td>
        </ng-container> 
        
        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> Detalle:: </th>
            <td mat-cell *matCellDef="let curso">
            <button mat-icon-button color="warn" [routerLink]="['/cursos/detalle-curso', curso.id]">
                <mat-icon>launch</mat-icon>
            </button>
        </ng-container> 

        <ng-container matColumnDef="actualizar">
            <th mat-header-cell *matHeaderCellDef> Actualizar: </th>
            <td mat-cell *matCellDef="let curso">  
            <button mat-icon-button color="primary" (click)="actualizarCurso(curso.id)" [disabled]="!isAuth()">
                <mat-icon>save</mat-icon>
            </button>
        </td>
        </ng-container> 

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar: </th>
            <td mat-cell *matCellDef="let curso">
            <button mat-icon-button color="warn" (click)="eliminarCurso(curso.id)" [disabled]="!isAuth()">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsName;"></tr>
    </table>

    <div class="submit-class">
        <div></div>
        <div>
            <button mat-raised-button type="button" color="primary" (click)="crearCurso()" [disabled]="!isAuth()">Agregar Nuevo Estudiante</button>
        </div>
    </div>
</div>