.form-main-container {
    width: 70%;
    margin: auto;
    padding: 30px 25px 0;
}

.grid-row-2c {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-row-3c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-form {
    width: 95%;
}

.aling-form {
    margin-left: auto;
    width: 100%;
}

.submit-class {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
}

.form-special-style {
    padding-top: 12px;
}