<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
            <a routerLink=""
               class="list-group-item list-group-item-action py-2 ripple"
               aria-current="true">
                <i class="bi bi-speedometer"></i><span> Home</span>
            </a>
            <a routerLink="/lista-alumnos" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-person-check-fill"></i><span> Alumnos</span>
            </a>
            <a routerLink="/lista-cursos" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-book"></i><span> Cursos</span>
            </a>
            <a routerLink="" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-info-circle"></i><span> Inscripciones</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-calendar3"></i><span> Calendario</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-person-circle"></i><span> Usuario</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-gear"></i><span> Configuracion</span>
            </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->