<div class="lista-container">
    
    <div *ngIf="alumno">
        <div class="title-style">Datos del Alumno:</div> <br>

        <div class="datos-alumno">
            <div class="colum-style">
                <div class="subtitle-style"> Nombre: &nbsp;</div>
                <span> {{ alumno.nombre }} </span>
            </div>
        
            <div class="colum-style">
                <div class="subtitle-style"> Apellido: &nbsp;</div>
                <span> {{ alumno.apellido }} </span>
            </div>
        
            <div class="colum-style">
                <div class="subtitle-style"> Edad: &nbsp;</div>
                <span> {{ alumno.edad }} años</span>
            </div>
              
            <div class="colum-style">
                <div class="subtitle-style"> División: &nbsp;</div>
                <span> {{ alumno.curso + alumno.division }}</span>
            </div>
        </div>

        <br>
        
        <div><h1>Cursos: </h1></div>

        <div *ngIf="cursosAlumno.length > 0">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Modalidad</th>
                    <th scope="col">Titular</th>
                    <th scope="col">Inscribir</th>
                    <th scope="col">Desinscribir</th>
                  </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let curso of cursosAlumno, let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ curso.descripcion }}</td>
                        <td>{{ curso.duracionHs }} Hs.</td>
                        <td>{{ curso.fechaInicio | date:"dd/MM/yyyy" }}</td>
                        <td>{{ curso.modalidad }}</td>
                        <td>{{ curso.titular }}</td>
                        <td><button mat-raised-button color="primary" [disabled]="estaInscripto(curso.id)"  (click)="inscribir(curso.id, alumno.id)">Inscribir</button></td>
                        <td><button mat-raised-button color="warn"    [disabled]="!estaInscripto(curso.id)" (click)="desinscribir(curso.id, alumno.id)">Desinscribir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <div class="submit-class">
        <div></div>
        <div>
            <button mat-raised-button type="button" color="warn" [routerLink]="['/lista-alumnos']">Volver</button>
        </div>
    </div>
</div>
